---
import Layout from "@layouts/Layout.astro";
import config from "@config";
import RecordDetail from "@apps/pages/RecordDetail/index.astro";
import { getTranslations } from '@backend/i18n';
import { getFullRecord } from "@services/coreData";
import { getNameView } from "@utils/people";
import { getDetailPagePaths } from "@utils/detailPages";

const { t } = await getTranslations(Astro.currentLocale);

const { lang, uuid } = Astro.params;

const record = await getFullRecord('people', uuid)
const excludes = config.search?.result_filtering?.people?.exclude || []

export const getStaticPaths = async () => await getDetailPagePaths(config, 'people');
---

<Layout footer t={t} title={record.name}>
  <RecordDetail
    excludes={excludes}
    lang={lang}
    name={getNameView(record)}
    record={record}
  >
    {record.biography && !excludes.includes('biography')
      ? <p class="text-neutral-800 py-6 break-words">{record.biography}</p>
      : null}
  </RecordDetail>
</Layout>
