---
import UserDefined from '@apps/pages/RecordDetail/UserDefined.astro';
import Identifiers from '@apps/pages/RecordDetail/Identifiers.astro';
import PlaceMap from '@apps/pages/RecordDetail/PlaceMap';
import RelatedPlaces from '@apps/pages/RecordDetail/RelatedPlaces.astro';
import ServiceFactory from '@services/coreData/factory';
import { getCoverImage, getRelatedGeometry } from '@utils/detailPages';

interface Props {
  excludes: string[];
  geometry?: any;
  lang: string;
  model: string;
  name: string;
  record: any;
}

const { excludes, geometry, lang, record, model, name } = Astro.props;

const service = ServiceFactory.getService(model);
const { places } = await service.getRelatedPlaces(record.uuid, true);
const { mediaContents } = await service.getRelatedMediaContents(record.uuid);

const mapGeometry = geometry || getRelatedGeometry(places);

const coverUrl = getCoverImage(mediaContents);
---
{(mapGeometry || coverUrl) && (
  <div class='h-[360px] py-6 mx-auto flex gap-6 w-full'>
    {coverUrl && (
      <img
        alt={name}
        class={`${mapGeometry ? 'w-[30%]' : 'w-full'} h-full object-cover`}
        src={coverUrl}
      />
    )}
    {mapGeometry && (
      <div class={coverUrl ? 'w-[70%]' : 'w-full'}>
        <PlaceMap client:only='react' lang={lang} geometry={mapGeometry}/>
      </div>
    )}
  </div>
)}
<UserDefined
  record={record}
  excludes={excludes}
/>
<slot />
<Identifiers
  record={record}
/>
<RelatedPlaces
  excludes={excludes}
  places={places}
  uuid={record.uuid}
/>
