---
import { getTranslations } from "@backend/i18n";
import _ from 'underscore';
import { getAuthorityURL } from "@root/src/utils/webAuthorities";

const { record } = Astro.props

const lang = Astro.currentLocale;
const { t } = await getTranslations(lang);
---
{record.web_identifiers && (
  <>
    <div class="py-6">
        <h2 class="capitalize text-lg font-semibold">{t('webAuthorities')}</h2>
        <div class="text-neutral-800 break-words flex flex-col gap-2 pt-4">              
            { _.map(record.web_identifiers, (auth) => {
                const url = getAuthorityURL(auth.web_authority?.source_type, auth.identifier);
                return url ? ( 
                    <a href={url} class="underline" target="_blank">{`${auth.web_authority?.source_type}: ${auth.identifier}`}</a>
                ) : (
                    <span>{`${auth.web_authority?.source_type}: ${auth.identifier}`}</span>
                )
            })}
        </div>
    </div>
  </>
)}