---
import BackButton from '@components/BackButton';
import Container from '@components/Container.astro';
import RelatedEvents from '@apps/pages/RecordDetail/RelatedEvents.astro';
import RelatedItems from '@apps/pages/RecordDetail/RelatedItems.astro';
import RelatedInstances from '@apps/pages/RecordDetail/RelatedInstances.astro';
import RelatedOrganizations from '@apps/pages/RecordDetail/RelatedOrganizations.astro';
import RelatedPeople from '@apps/pages/RecordDetail/RelatedPeople.astro';
import RelatedWorks from '@apps/pages/RecordDetail/RelatedWorks.astro';
import RelatedTaxonomies from '@apps/pages/RecordDetail/RelatedTaxonomies.astro';
import RelatedMedia from '@apps/pages/RecordDetail/RelatedMedia.astro';
import GeoHeader from "@apps/pages/RecordDetail/GeoHeader.astro";

interface Props {
  excludes: string[];
  lang: string;
  model: string;
  name: string;
  record: any;
}

const { excludes, lang, model, name, record } = Astro.props;
---

<Container className='py-6 w-full'>
  <BackButton
    className='absolute top-[26px]'
    id='backButton'
  />
  <div class='ml-12 divide-y divide-solid divide-[#e5e5e5]'>
    <h1 class='font-bold text-3xl text-neutral-800 mt-0 mb-6'>{name}</h1>
    <GeoHeader
      excludes={excludes}
      lang={lang}
      model={model}
      name={name}
      record={record}
      server:defer
    />
    <RelatedMedia
      lang={lang}
      model={model}
      uuid={record.uuid}
      server:defer
    />
    <RelatedEvents
      excludes={excludes}
      model={model}
      uuid={record.uuid}
      server:defer
    />
    <RelatedInstances
      excludes={excludes}
      model={model}
      uuid={record.uuid}
      server:defer
    />
    <RelatedItems
      excludes={excludes}
      model={model}
      uuid={record.uuid}
      server:defer
    />
    <RelatedOrganizations
      excludes={excludes}
      model={model}
      uuid={record.uuid}
      server:defer
    />
    <RelatedPeople
      excludes={excludes}
      model={model}
      uuid={record.uuid}
      server:defer
    />
    <RelatedTaxonomies
      excludes={excludes}
      model={model}
      uuid={record.uuid}
      server:defer
    />
    <RelatedWorks
      excludes={excludes}
      model={model}
      uuid={record.uuid}
      server:defer
    />
  </div>
</Container>

<script>
  const backButton = document.querySelector('#backButton')
  backButton.addEventListener('click', () => history.back())
</script>
