---
import BackButton from '@components/BackButton';
import Container from '@components/Container.astro';
import RelatedEvents from '@apps/pages/RecordDetail/RelatedEvents.astro';
import RelatedItems from '@apps/pages/RecordDetail/RelatedItems.astro';
import RelatedInstances from '@apps/pages/RecordDetail/RelatedInstances.astro';
import RelatedOrganizations from '@apps/pages/RecordDetail/RelatedOrganizations.astro';
import RelatedPeople from '@apps/pages/RecordDetail/RelatedPeople.astro';
import RelatedWorks from '@apps/pages/RecordDetail/RelatedWorks.astro';
import RelatedTaxonomies from '@apps/pages/RecordDetail/RelatedTaxonomies.astro';
import RelatedMedia from '@apps/pages/RecordDetail/RelatedMedia.astro';
import GeoHeader from '@apps/pages/RecordDetail/GeoHeader.astro';
import { getTranslations } from '@backend/i18n';
import RelatedPlaces from '@apps/pages/RecordDetail/RelatedPlaces.astro';
import UserDefined from '@apps/pages/RecordDetail/UserDefined.astro';
import Identifiers from '@apps/pages/RecordDetail/Identifiers.astro';
import config from '@config';
import IIIFBanner from '@apps/pages/RecordDetail/IIIFBanner.astro';
import EditionCrafterViewer from '@apps/pages/RecordDetail/EditionCrafterViewer.astro';

interface Props {
  excludes: string[];
  geometry?: any;
  lang: string;
  model: string;
  name: string;
  record: any;
}

const { excludes, geometry, lang, model, name, record } = Astro.props;
const { t } = await getTranslations(lang);

const manifest = config.detail_pages?.models[model]
  ? config.detail_pages?.models[model].related_manifest
  : null;

const ecViewer = config.detail_pages?.models[model]
  ? config.detail_pages?.models[model].editioncrafter_config
  : null;

const faircopyId = ecViewer && record.user_defined ? record.user_defined[ecViewer.xml_id_field]?.value : null;
---

<div class='bg-primary w-full pb-6'>
  <Container>
    <div class='pb-4 flex items-center gap-2'>
      <BackButton
        id='backButton'
        size={24}
      />
      <span class='uppercase font-semibold'>{t('backTo', { label: t(model) })}</span>
    </div>
    <h1 class='text-5xl font-header'>{name}</h1>
  </Container>
</div>
{ faircopyId && ( 
  <EditionCrafterViewer
    faircopyId={faircopyId}
    transcriptionTypes={ecViewer.transcription_types}
    baseURL={ecViewer.faircopy_base_url}
    projectId={ecViewer.faircopy_project_id}
  />
)}
{ !faircopyId && geometry && ( 
  <GeoHeader
    geometry={geometry}
    lang={lang}
    model={model}
    name={name}
    record={record}
    server:defer
  />
)}
{ manifest && (
  <IIIFBanner
    model={model}
    relatedModel={manifest.model}
    relationshipUuid={manifest.relationship}
    uuid={record.uuid}
    server:defer
  />
) }
<div class='py-6 divide-y divide-solid divide-[#e5e5e5]'>
  <Container>
    <slot />
    <UserDefined
      record={record}
      excludes={excludes}
    />
    <Identifiers
      record={record}
    />
    <RelatedMedia
      lang={lang}
      model={model}
      uuid={record.uuid}
      server:defer
    />
    <RelatedEvents
      excludes={excludes}
      model={model}
      uuid={record.uuid}
      server:defer
    />
    <RelatedInstances
      excludes={excludes}
      model={model}
      uuid={record.uuid}
      server:defer
    />
    <RelatedItems
      excludes={excludes}
      model={model}
      uuid={record.uuid}
      server:defer
    />
    <RelatedOrganizations
      excludes={excludes}
      model={model}
      uuid={record.uuid}
      server:defer
    />
    <RelatedPlaces
      excludes={excludes}
      model={model}
      uuid={record.uuid}
      server:defer
    />
    <RelatedPeople
      excludes={excludes}
      model={model}
      uuid={record.uuid}
      server:defer
    />
    <RelatedTaxonomies
      excludes={excludes}
      model={model}
      uuid={record.uuid}
      server:defer
    />
    <RelatedWorks
      excludes={excludes}
      model={model}
      uuid={record.uuid}
      server:defer
    />
  </Container>
</div>

<script>
  window.document.addEventListener('DOMContentLoaded', () => {
    const backButton = document.querySelector('#backButton');
    const prevURL = document.referrer;
    backButton.addEventListener('click', () => window.location.href = prevURL)
  })
</script>
