---
import ServiceFactory from '@services/coreData/factory';
import { getRelationshipFields, groupRelationships } from '@utils/detailPages';
import { getTranslations } from '@backend/i18n';
import RelatedSource from '@apps/pages/RecordDetail/RelatedSource.astro';
import { hasDetailPage } from '@utils/detailPagePaths';

interface Props {
  excludes: string[];
  model: string;
  uuid: string;
}

const { excludes, model, uuid } = Astro.props;

const lang = Astro.currentLocale;
const service = ServiceFactory.getService(model);
const { works } = await service.getRelatedWorks(uuid);
const relationships = groupRelationships(works, excludes);
const { t } = await getTranslations(lang);

const fields = getRelationshipFields('works', t)

const resolveDetailUrl = (work: any) => `/${lang}/works/${work.uuid}`;
const showLinks = hasDetailPage('works');
---
{Object.keys(relationships).map((uuid) => (
  <div class='py-8 w-full'>
    <h4 class='capitalize font-header mb-4'>{t(uuid)}</h4>
    <div class='flex flex-col gap-4'>
      {relationships[uuid].map((work) => (
        <>
          {showLinks && (
            <a href={resolveDetailUrl(work)}>
              <RelatedSource
                fields={fields}
                record={work}
              />
            </a>
          )}
          {!showLinks && (
            <RelatedSource
              fields={fields}
              record={work}
            />
          )}
        </>
      ))}
    </div>
  </div>
))}