---
import ServiceFactory from '@services/coreData/factory';
import { getRelationshipFields, groupRelationships } from '@utils/detailPages';
import { getTranslations } from '@backend/i18n';
import RelatedEvent from '@apps/pages/RecordDetail/RelatedEvent.astro';
import _ from 'underscore';
import { hasDetailPage } from '@utils/detailPagePaths';

interface Props {
  excludes: string[];
  model: string;
  uuid: string;
}

const { excludes, model, uuid } = Astro.props;

const lang = Astro.currentLocale;
const service = ServiceFactory.getService(model);
const { events } = await service.getRelatedEvents(uuid);
const sortedEvents = _.sortBy(events, 'start_date.start_date');
const relationships = groupRelationships(sortedEvents, excludes);
const { t } = await getTranslations(lang);

const fields = getRelationshipFields('events', t);

const resolveDetailUrl = (event: any) => `/${lang}/events/${event.uuid}`;
const showLinks = hasDetailPage('events');
---
{Object.keys(relationships).map((uuid) => (
  <div class='py-8 w-full'>
    <h4 class='capitalize font-header mb-4'>{t(uuid)}</h4>
    <ul class='flex flex-col gap-4 list-disc ml-4'>
      {relationships[uuid].map((event) => (
        <li class='text-[22px] ml-2'>
          {showLinks && (
            <a
              class='block'
              href={resolveDetailUrl(event)}
            >
              <RelatedEvent
                fields={fields}
                event={event}
              />
            </a>
          )}
          {!showLinks && (
            <RelatedEvent
              fields={fields}
              event={event}
            />
          )}
        </li>
      ))}
    </ul>
  </div>
))}
