---
import ServiceFactory from '@services/coreData/factory';
import { getRelationshipFields, groupRelationships } from '@utils/detailPages';
import { getTranslations } from '@backend/i18n';
import RelatedSource from '@apps/pages/RecordDetail/RelatedSource.astro';
import { hasDetailPage } from '@utils/detailPagePaths';

interface Props {
  excludes: string[];
  model: string;
  uuid: string;
}

const { excludes, model, uuid } = Astro.props;

const lang = Astro.currentLocale;
const service = ServiceFactory.getService(model);
const { instances } = await service.getRelatedInstances(uuid);
const relationships = groupRelationships(instances, excludes);
const { t } = await getTranslations(lang);

const fields = getRelationshipFields('instances', t);

const resolveDetailUrl = (instance: any) => `/${lang}/instances/${instance.uuid}`;
const showLinks = hasDetailPage('instances');
---
{Object.keys(relationships).map((uuid) => (
  <div class='py-6 w-full'>
    <h2 class='capitalize text-xl font-semibold font-header mb-2'>{t(uuid)}</h2>
    <div class='flex flex-col gap-4'>
      {relationships[uuid].map((instance) => (
        <>
          {showLinks && (
            <a href={resolveDetailUrl(instance)}>
              <RelatedSource
                fields={fields}
                record={instance}
              />
            </a>
          )}
          {!showLinks && (
            <RelatedSource
              fields={fields}
              record={instance}
            />
          )}
        </>
      ))}
    </div>
  </div>
))}
