---
import { Icon } from '@performant-software/core-data/ssr';

interface Props {
  data: any[];
  icon?: string;
  label: string;
  showLinks?: boolean;
  resolveDetailUrl?: (record: any) => string;
  resolveName: (record: any) => string;
  uuid: string;
}

const { data, icon, label, resolveDetailUrl, resolveName, showLinks } = Astro.props;
---
{(Object.keys(data)).length > 0 && (
  <div class='py-6'>
    <h2 class='capitalize text-lg font-semibold mb-2'>{label} ({data.length})</h2>
    <ul class='grid grid-cols-3 items-start justify-start'>
      {data.map((record) =>
        showLinks && resolveDetailUrl ? (
          <li>
            <a
              class='flex gap-2 my-2 text-wrap items-center font-semibold'
              href={resolveDetailUrl(record)}
            >
              <Icon name={icon} size={16} />
              { resolveName(record) }
            </a>
          </li>
        ) : (
          <li class='flex gap-2 my-2 text-wrap items-center font-semibold'>
            <Icon name={icon} size={16} />
            { resolveName(record) }
          </li>
        )
      )}
    </ul>
  </div>
)}