---
import Layout from "@layouts/Layout.astro";
import config from "@config";
import RecordDetail from "@apps/pages/RecordDetail/index.astro";
import { getTranslations } from '@backend/i18n';
import { ModelNames } from '@services/coreData/factory';
import PlacesService from '@services/coreData/places';
import PlaceMap from "@apps/pages/RecordDetail/PlaceMap";
import { getDetailPagePaths } from '@utils/detailPages';

const { t } = await getTranslations(Astro.currentLocale);

const { lang, uuid } = Astro.params;

const { place } = await PlacesService.getFull(uuid);
const excludes = config.search?.result_filtering?.places?.exclude || [];

export const getStaticPaths = async () => await getDetailPagePaths(config, ModelNames.places);
---

<Layout footer t={t} title={place.name}>
  <RecordDetail
    excludes={excludes}
    lang={lang}
    name={place.name}
    record={place}
  >
    { !excludes.includes('place_geometry') && (
      <div class="h-[360px] py-6 mx-auto">
        <PlaceMap
          client:only="react"
          lang={lang}
          record={place}
        />
      </div>
    )}
  </RecordDetail>
</Layout>
