---
import Carousel from '@apps/pages/sections/Carousel';
import ContentBlock from '@apps/pages/sections/ContentBlock.astro';
import FreeText from '@apps/pages/sections/FreeText.astro';
import Hero from '@apps/pages/sections/Hero.astro';
import { getTranslations } from '@backend/i18n';
import { fetchPage } from '@backend/tina';
import Layout from '@layouts/Layout.astro';
import _ from 'underscore';

const { slug } = Astro.params;
const page = await fetchPage(slug);

const { t } = await getTranslations(Astro.currentLocale);

const SectionTypes = {
  carousel: 'PagesSectionsCarousel',
  contentBlock: 'PagesSectionsContent_block',
  freeText: 'PagesSectionsFree_text',
  hero: 'PagesSectionsHero'
};

---

<Layout
  fullscreen
  t={t}
  tab={page?._sys?.filename}
  title={page?.title}
>
  { _.map(page.sections, (section, index) => (
    <section
      key={index}
    >
      { section.__typename === SectionTypes.hero && (
        <Hero
          height={section.height}
          imageAlt={section.background_image_alt}
          imageUrl={section.background_image}
          subtitle={section.subtitle}
          title={section.title}
        />
      )}
      { section.__typename === SectionTypes.carousel && (
        <Carousel
          items={section.items}
          client:only='react'
        />
      )}
      { section.__typename === SectionTypes.contentBlock && (
        <ContentBlock
          backgroundHeight={section.background_height}
          buttonColor={section.button_color}
          buttonText={section.button_text}
          description={section.description}
          image={section.image},
          imageAlt={section.image_alt}
          secondary={section.secondary}
          textPosition={section.text_position}
          title={section.title}
          url={section.url}
          verticalAlignment={section.vertical_alignment}
        />
      )}
      { section.__typename === SectionTypes.freeText && (
        <FreeText
          content={section.body}
        />
      )}
    </section>
  ))}
</Layout>