---

import Container from '@components/Container.astro';
import EditionCrafter from '@cu-mkp/editioncrafter';

const { faircopyId, transcriptionTypes, baseURL, projectId, name } = Astro.props;

//for now, we'll hard code a fix to the possiblity of IDs in fairdata that begin with a number (these are not valid xml IDs)
const manifestURL = `${baseURL}/public/${projectId}/tei_documents/${/^\d$/.test(faircopyId.slice(0,1)) ? '_' : ''}${faircopyId}/iiif`;

const validManifest = await fetch(manifestURL).then((res) => (res.status === 200));

---
{ validManifest && ( 
  <div class='w-full pb-6 relative h-[800px]'>
    <div class='bg-primary h-[80px] w-full' />
    <div class='absolute gap-6 w-full top-0 h-full'>
      <Container className='h-full'>
        <EditionCrafter
          documentName={name}
          iiifManifest={manifestURL}
          transcriptionTypes={transcriptionTypes}
          client:only='react'
        />
      </Container>
    </div>
  </div>
)}
