---
import RelatedSource from '@apps/detailPages/RelatedSource.astro';
import { getTranslations } from '@backend/i18n';
import ServiceFactory from '@services/coreData/factory';
import { hasDetailPage } from '@utils/detailPagePaths';
import { getRelationshipFields, groupRelationships } from '@utils/detailPages';

interface Props {
  excludes: string[];
  model: string;
  uuid: string;
  resourceField?: string;
}

const { excludes, model, uuid, resourceField } = Astro.props;

const lang = Astro.currentLocale;
const service = ServiceFactory.getService(model);
const { items } = await service.getRelatedItems(uuid);
const relationships = groupRelationships(items, excludes);
const { t } = await getTranslations(lang);

const fields = getRelationshipFields('items', t);

const resolveDetailUrl = (item: any, uuid: string) => {
  if (!resourceField || !resourceField.startsWith(uuid.split('_')[0])) {
    return `/${lang}/items/${item.uuid}`;
  }

  const urlField = resourceField.split('.')[1];
  if (urlField && item.user_defined && item.user_defined[urlField]) {
    return item.user_defined[urlField].value;
  }

  return `/${lang}/items/${item.uuid}`;
};

const showLinks = (uuid: string) => resourceField?.startsWith(uuid) || hasDetailPage('items');
---
{Object.keys(relationships).map((uuid) => (
  <div class='py-8 w-full'>
    <h4 class='capitalize font-header mb-4'>{t(uuid)}</h4>
    <div class='flex flex-col gap-4 max-h-[500px] overflow-y-auto'>
      {relationships[uuid].map((item) => (
        <>
          {showLinks(uuid) && (
            <a href={resolveDetailUrl(item, uuid)}>
              <RelatedSource
                fields={fields}
                record={item}
              />
            </a>
          )}
          {!showLinks(uuid) && (
            <RelatedSource
              fields={fields}
              record={item}
            />
          )}
        </>
      ))}
    </div>
  </div>
))}
