---
import { fetchAbout } from '@backend/tina-cms';
import Container from '@components/Container.astro';
import Hero from '@components/Hero.astro';
import { getTranslations } from '@i18n/server';
import Layout from '@layouts/Layout.astro';
import { TinaMarkdown } from 'tinacms/dist/rich-text';

const { title, subheader, description, heroImage, featureImage } = await fetchAbout();
const { t } = await getTranslations(Astro.currentLocale);

---

<Layout
  footer
  t={t}
  title={title}
>
  <Hero 
    title={title}
    subheader={subheader}
    image={heroImage}
  />
  <Container
    className="my-12 grid lg:grid-cols-2 gap-16"
  >
    <div>
      <h2
        class="text-5xl font-serif "
      >
        { t('about') }
      </h2>
      <article
        class="py-8 prose prose-lg max-w-none"
      >
        <TinaMarkdown
          content={description}
        />
      </article>
    </div>
    <img
      alt=""
      src={featureImage}
      class="w-full"
    />
  </Container>
</Layout>
