---
import Layout from "@layouts/Layout.astro";
import config from "@config";
import RecordDetail from "@apps/pages/RecordDetail/index.astro";
import { getTranslations } from '@backend/i18n';
import { ModelNames } from '@services/coreData/factory';
import OrganizationsService from '@services/coreData/organizations';
import { getCoverImage, getDetailPagePaths, getRelatedGeometry } from "@utils/detailPages";

const { t } = await getTranslations(Astro.currentLocale);

const { lang, uuid } = Astro.params;

const { organization } = await OrganizationsService.getFull(uuid);
const excludes = config.search?.result_filtering?.organizations?.exclude || [];

const coverUrl = getCoverImage(organization);
const geometry = getRelatedGeometry(organization);

export const getStaticPaths = async () => await getDetailPagePaths(config, ModelNames.organizations);
---

<Layout footer t={t} title={organization.name}>
  <RecordDetail
    coverUrl={coverUrl}
    excludes={excludes}
    geometry={geometry}
    lang={lang}
    name={organization.name}
    record={organization}
  >
    {organization.description && !excludes.includes('description')
      ? <p class="text-neutral-800 py-6 break-words">{organization.description}</p>
      : null}
  </RecordDetail>
</Layout>
