---
import { getTranslations } from '@backend/i18n';
import { fetchPaths } from '@backend/tina';
import Card from '@components/Card.astro';
import Cards from '@components/Cards.astro';
import Container from '@components/Container.astro';
import config from '@config';
import Layout from '@layouts/Layout.astro';
import { hasPathsContent } from '@utils/config';
import { getRelativeLocaleUrl } from 'astro:i18n';
import _ from 'underscore';

const { t } = await getTranslations(Astro.currentLocale);
const paths = await fetchPaths();

export const getStaticPaths = () => {
  if (!hasPathsContent(config)) {
    return [];
  }

  return _.map(config.i18n.locales, (lang: string) => ({ params: { lang }}));
};

---

<Layout
  footer
  t={t}
  tab='paths'
  title={t('paths')}
>
  <Container
    className='pb-16 w-full'
  >
    <h1
      class='text-3xl my-12'
    >
      { t('paths') }
    </h1>
    <Cards>
      { _.map(paths, (path) => (
        <Card
          imageUrl={path?.image}
          alt={path?.imageAlt}
          slug={getRelativeLocaleUrl(Astro.currentLocale, `/paths/${path?._sys.filename}` || '#')}
          t={t}
          title={path?.title || t('untitled')}
          author={path?.author}
          date={path?.date}
        />
      ))}
    </Cards>
  </Container>
</Layout>