---
import { fetchAbout } from '@backend/tina-server';
import LanguagePicker from '@components/LanguagePicker';
import MobileHeader from '@components/MobileHeader';
import { getRelativeLocaleUrl, getRelativeLocaleUrlList } from 'astro:i18n';
import clsx from 'clsx';
import _ from 'underscore';

const locales = getRelativeLocaleUrlList();
const currentLocale = Astro.currentLocale;
const currentUrl = Astro.url;

const { currentTab, t, tabs } = Astro.props;

const { title } = await fetchAbout();
---

<div
  class='flex flex-row justify-between px-6 py-5 align-middle bg-primary text-white h-[80px]'
>
  <a
    class='flex flex-row align-middle gap-6'
    href={getRelativeLocaleUrl(currentLocale)}
  >
    <h1>
      { title }
    </h1>
  </a>
  <div
    class='flex flex-row gap-x-12 pe-10 align-baseline justify-around'
  >
    { _.map(_.keys(tabs), (key) => (
      <a
        class='flex flex-col p-y-4 justify-center'
        href={tabs[key].url}
      >
        <div
          class={clsx(
            'flex',
            'font-light',
            { 'border-b': key === currentTab }
          )}
        >
          { t(key) }
        </div>
      </a>
    ))}
    <LanguagePicker
      locales={locales}
      currentLocale={currentLocale}
      currentUrl={currentUrl.pathname}
      client:only='react'
    />
  </div>
</div>

<MobileHeader
  currentLocale={Astro.currentLocale}
  currentUrl={currentUrl.pathname}
  locales={locales}
  tabs={tabs}
  client:load
/>
