---
import LanguagePicker from '@components/LanguagePicker';
import MobileHeader from '@components/MobileHeader';
import NavBar from '@layouts/NavBar.astro';
import { getRelativeLocaleUrl, getRelativeLocaleUrlList } from 'astro:i18n';
import clsx from 'clsx';

const locales = getRelativeLocaleUrlList();
const currentLocale = Astro.currentLocale;
const currentUrl = Astro.url;

const {
  fullscreen,
  image,
  imageAlt,
  items,
  title
} = Astro.props;

---

<div
  class='flex flex-row justify-center w-full bg-primary'
>
  <div
    class={clsx(
      'hidden lg:flex flex-row justify-between items-center px-6 py-5 h-[80px] w-full',
      { '3xl:max-w-(--breakpoint-3xl)': !fullscreen }
    )}
  >
    <a
      class='flex flex-row items-center gap-6'
      href={getRelativeLocaleUrl(currentLocale)}
    >
      { image && (
        <img
          alt={imageAlt}
          class='h-10'
          src={image}
        />
      )}
      { title && (
        <h1
          class='text-lg font-medium'
        >
          { title }
        </h1>
      )}
    </a>
    <NavBar
      className='flex flex-row gap-x-12 pe-10 align-baseline justify-around'
      items={items}
    >
      <LanguagePicker
        locales={locales}
        currentLocale={currentLocale}
        currentUrl={currentUrl.pathname}
        client:only='react'
      />
    </NavBar>
  </div>
  
  <MobileHeader
    items={items}
    title={title}
    client:load
  >
    <LanguagePicker
      locales={locales}
      currentLocale={currentLocale}
      currentUrl={currentUrl.pathname}
    />
  </MobileHeader>
</div>
