---
import { fetchBranding } from '@backend/tina';
import NotificationPanel from '@components/NotificationPanel';
import Title from '@components/Title';
import { getLanguageFromUrl } from '@i18n/utils';
import Footer from '@layouts/Footer.astro';
import Header from '@layouts/Header.astro';
import HeaderContainer from '@layouts/HeaderContainer';
import { useBlackText } from '@utils/layout';
import { setCacheControl } from '@utils/url';
import { STATIC_BUILD } from 'astro:env/client';
import clsx from 'clsx';
import _ from 'underscore';

import '@performant-software/core-data/style.css';
import '@performant-software/geospatial/style.css';
import '@styles/index.css';
import 'swiper/css';
import 'swiper/css/pagination';

setCacheControl(Astro.response.headers);

const branding = await fetchBranding();
const { header, footer } = branding;

const { font_header: fontHeader, font_body: fontBody } = branding;

const heroHeaderSize = branding.header_size || '52px';
const pageHeaderSize = branding.page_header_size || '48px';
const headerFontWeight = branding.header_font_weight || '400';
const bannerHeaderVariant = branding.small_caps ? 'small-caps' : 'normal';

//dark and light mode default text color
const content = branding.content_color || 'var(--color-black)';
const contentInverse = branding.content_inverse || 'var(--color-white)';
const contentAlternate = branding.content_alternate || 'var(--color-neutral-dark)';
const contentInverseAlternate = branding.content_inverse_alternate || 'var(--color-neutral-light)';

const colorPrimary = branding.primary_color;
const colorSecondary = branding.secondary_color;
const colorTertiary = branding.tertiary_color || 'var(--color-black)';

//these are for use in layout components like header and footer
const primaryContent = useBlackText(colorPrimary) ? content : contentInverse;
const secondaryContent = !colorSecondary || useBlackText(colorSecondary) ? content : contentInverse;
const tertiaryContent = !colorTertiary || useBlackText(colorTertiary) ? content : contentInverse;

const colorLayout = branding.background_color || 'var(--color-white)';
const layoutContent = !branding.background_color || useBlackText(branding.background_color) ? content : contentInverse;
const layoutContentAlternate = !branding.background_color || useBlackText(branding.background_color) ? contentAlternate : contentInverseAlternate;

const colorLayoutAlternate = branding.background_alternate || 'var(--color-neutral-light)';
const layoutAlternateContent = !branding.background_alternate || useBlackText(branding.background_alternate) ? content : contentInverse;
const layoutAlternateContentAlternate = !branding.background_alternate || useBlackText(branding.background_alternate) ? contentAlternate : contentInverseAlternate; //this naming scheme could be better....

const lang = getLanguageFromUrl(Astro.url.pathname);

const {
  footer: includeFooter,
  fullscreen,
  titleKey,
  transparent
} = Astro.props;

---

<!DOCTYPE html>
<html
  lang={lang}
>
  <head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <Title
      defaultTitle={branding.title}
      titleKey={titleKey}
      client:load
    />
    <style
      is:global
      define:vars={{
        customFontHeader: fontHeader,
        customFontBody: fontBody,
        customHeroHeaderSize: heroHeaderSize,
        customBannerHeaderVariant: bannerHeaderVariant,
        customPageHeaderSize: pageHeaderSize,
        customHeaderFontWeight: headerFontWeight,
        customLayout: colorLayout,
        customLayoutAlternate: colorLayoutAlternate,
        customColorPrimary: colorPrimary,
        customColorSecondary: colorSecondary,
        customColorTertiary: colorTertiary,
        customPrimaryContent: primaryContent,
        customSecondaryContent: secondaryContent,
        customTertiaryContent: tertiaryContent,
        customContent: layoutContent,
        customContentAlternate: layoutContentAlternate,
        customAlternateContent: layoutAlternateContent,
        customAlternateContentAlternate: layoutAlternateContentAlternate,
        customText: content,
        customTextInverse: contentInverse
      }}
    >
    </style>
  </head>
  <body
    class='flex h-full sm:min-h-screen flex-col bg-layout text-neutral-dark mx-auto font-sans'
    transition:animate='initial'
  >
    <HeaderContainer
      client:load
    >
      <Header
        fullscreen={fullscreen}
        image={header?.logo}
        imageAlt={branding.title}
        title={header?.hide_title ? undefined : branding.title}
        transparent={transparent}
        server:defer
      />
    </HeaderContainer>
    <NotificationPanel
      client:only='react'
    />
    <main
      class='w-full relative flex flex-col grow'
    >
      <slot />
    </main>
    { includeFooter && (
      <Footer
        accessibilityUrl={footer?.accessibility_url}
        custom={footer?.custom}
        customContent={footer?.custom_content}
        login={footer?.allow_login && !STATIC_BUILD}
        logos={footer?.logos}
        privacyUrl={footer?.privacy_url}
        termsUrl={footer?.terms_url}
        title={branding?.title}
        server:defer
      />
    )}
  </body>
</html>

<style is:global>
.clover-viewer .clover-viewer-information-panel div[data-label="content-warning"] {
  display: none;
}
</style>