---
import { fetchBranding } from '@backend/tina';
import config from '@config';
import { getLanguageFromUrl } from '@i18n/utils';
import Footer from '@layouts/Footer.astro';
import Header from '@layouts/Header.astro';
import { useBlackText } from '@utils/layout';
import { getRelativeLocaleUrl } from 'astro:i18n';
import _ from 'underscore';

import '@performant-software/core-data/style.css';
import '@performant-software/geospatial/style.css';
import '@styles/index.css';
import 'swiper/css';
import 'swiper/css/pagination';

const branding = await fetchBranding();
const { header, footer } = branding;

const colorPrimary = branding.primary_color;
const textPrimary = useBlackText(colorPrimary) ? 'var(--color-black)' : 'var(--color-white)';

const colorSecondary = branding.secondary_color;
const textSecondary = !colorSecondary || useBlackText(colorSecondary) ? 'var(--color-black)' : 'var(--color-white)';

const currentLocale = Astro.currentLocale;
const lang = getLanguageFromUrl(Astro.url.pathname);
const { footer: includeFooter, fullscreen, name, title, t, tab } = Astro.props;

const TabKeys = {
  search: 'search',
  paths: 'paths',
  posts: 'posts'
};

const Tabs = {
  search: {
    key: TabKeys.search,
    url: getRelativeLocaleUrl(currentLocale, `${TabKeys.search}/${name}`)
  },
  paths: {
    key: TabKeys.paths,
    url: getRelativeLocaleUrl(currentLocale, TabKeys.paths)
  },
  posts: {
    key: TabKeys.posts,
    url: getRelativeLocaleUrl(currentLocale, TabKeys.posts)
  }
};

const tabs = {
  search: Tabs.search,
  ..._.pick(Tabs, config.content)
};
---

<!DOCTYPE html>
<html
  lang={lang}
>
  <head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <title>{title}</title>
    <style
      is:global
      define:vars={{
        customColorPrimary: colorPrimary,
        customColorSecondary: colorSecondary,
        customTextPrimary: textPrimary,
        customTextSecondary: textSecondary
      }}
    >
    </style>
  </head>
  <body
    class='flex h-full sm:min-h-screen flex-col bg-white text-neutral-dark mx-auto font-sans'
    transition:animate='initial'
  >
    <Header
      currentTab={tab}
      fullscreen={fullscreen}
      image={header?.logo}
      imageAlt={branding.title}
      t={t}
      tabs={tabs}
      title={header?.hide_title ? undefined : branding.title}
    />
    <main
      class='w-full relative bg-white flex flex-col grow'
    >
      <slot />
    </main>
    { includeFooter && (
      <Footer
        t={t}
        tabs={tabs}
      />
    )}
  </body>
</html>