---
import config from '@config';
import { getLanguageFromUrl } from '@i18n/utils';
import Footer from '@layouts/Footer.astro';
import Header from '@layouts/Header.astro';
import '@peripleo/peripleo/default-theme';
import '@peripleo/maplibre/peripleo-maplibre.css';
import '@performant-software/core-data/style.css';
import '@performant-software/geospatial/style.css';
import '@styles/index.css';
import { getRelativeLocaleUrl } from 'astro:i18n';
import clsx from 'clsx';
import _ from 'underscore';
import { useBlackText } from '@utils/layout';

const blackText = config.branding?.primary && useBlackText(config.branding.primary);

const currentLocale = Astro.currentLocale;
const lang = getLanguageFromUrl(Astro.url.pathname);
const { footer, fullscreen, name, title, t, tab } = Astro.props;

const TabKeys = {
  search: 'search',
  paths: 'paths',
  posts: 'posts'
};

const Tabs = {
  search: {
    key: TabKeys.search,
    url: getRelativeLocaleUrl(currentLocale, `${TabKeys.search}/${name}`)
  },
  paths: {
    key: TabKeys.paths,
    url: getRelativeLocaleUrl(currentLocale, TabKeys.paths)
  },
  posts: {
    key: TabKeys.posts,
    url: getRelativeLocaleUrl(currentLocale, TabKeys.posts)
  }
};

const tabs = {
  search: Tabs.search,
  ..._.pick(Tabs, config.content)
};
---

<!DOCTYPE html>
<html
  lang={lang}
>
  <head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width'>
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <title>{title}</title>
  </head>
  <body
    class={clsx(
      'flex h-full sm:min-h-screen flex-col bg-white text-neutral-dark mx-auto',
      { 'primary-text-white': !blackText },
      { 'primary-text-black': blackText },
    )}
    transition:animate='initial'
  >
    <Header
      currentTab={tab}
      fullscreen={fullscreen}
      t={t}
      tabs={tabs}
    />
    <main
      class='w-full relative bg-white flex flex-col flex-grow'
    >
      <slot />
    </main>
    { footer && (
      <Footer
        t={t}
        tabs={tabs}
      />
    )}
  </body>
</html>