---
import Footer from '@layouts/Footer.astro';
import Header from '@layouts/Header.astro';
import '@performant-software/core-data/style.css';
import '@performant-software/geospatial/style.css';
import '@peripleo/maplibre/peripleo-maplibre.css';
import '@peripleo/peripleo/default-theme';
import '@styles/index.css';
import { getRelativeLocaleUrl } from 'astro:i18n';
import clsx from 'clsx';
import _ from 'underscore';
import config from '../../public/config.json';

const currentLocale = Astro.currentLocale;

const TabKeys = {
  map: 'map',
  paths: 'paths',
  posts: 'posts'
};

const Tabs = {
  map: {
    key: TabKeys.map,
    url: getRelativeLocaleUrl(currentLocale, TabKeys.map)
  },
  paths: {
    key: TabKeys.paths,
    url: getRelativeLocaleUrl(currentLocale, TabKeys.paths)
  },
  posts: {
    key: TabKeys.posts,
    url: getRelativeLocaleUrl(currentLocale, TabKeys.posts)
  }
};

const { footer, title, t, tab } = Astro.props;
const isMap = tab === Tabs.map.key;

const tabs = {
  map: Tabs.map,
  ..._.pick(Tabs, config.content)
};
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<title>{title}</title>
</head>
<body
  class={clsx(
    'flex h-full sm:min-h-screen flex-col bg-white text-neutral-dark mx-auto',
    { '3xl:bg-neutral-dark 3xl:max-w-screen-3xl': !isMap }
  )}
  transition:animate="initial"
>
  <Header
    currentTab={tab}
    t={t}
    tabs={tabs}
  />
  <main
    class='w-full relative bg-neutral-light flex flex-col flex-grow'
  >
    <slot />
  </main>
  { footer && (
    <Footer
      t={t}
    />
  )}
</body>
</html>