---
import { fetchBranding, fetchNavbar } from '@backend/tina';
import NotificationPanel from '@components/NotificationPanel';
import config from '@config';
import { getLanguageFromUrl } from '@i18n/utils';
import Footer from '@layouts/Footer.astro';
import Header from '@layouts/Header.astro';
import { useBlackText } from '@utils/layout';
import { getPages } from '@utils/nav';
import { STATIC_BUILD } from 'astro:env/client';
import { getRelativeLocaleUrl } from 'astro:i18n';
import _ from 'underscore';

import '@performant-software/core-data/style.css';
import '@performant-software/geospatial/style.css';
import '@styles/index.css';
import 'swiper/css';
import 'swiper/css/pagination';

// Tell the browser to always check the freshness of the cache
Astro.response.headers.set("Cache-Control", "public, max-age=0, must-revalidate");

// Tell Netlify's CDN to treat it as fresh for 5 minutes, then for up to a week return a stale version
// while it revalidates. Use Durable Cache to minimize the need for serverless function calls.
Astro.response.headers.set(
  "Netlify-CDN-Cache-Control", "public, durable, s-maxage=300, stale-while-revalidate=604800"
);

const branding = await fetchBranding();
const { header, footer } = branding;

const { font_header: fontHeader, font_body: fontBody } = branding;

const heroHeaderSize = branding.header_size || '52px';
const pageHeaderSize = branding.page_header_size || '48px';
const headerFontWeight = branding.header_font_weight || '400';
const bannerHeaderVariant = branding.small_caps ? 'small-caps' : 'normal';

//dark and light mode default text color
const content = branding.content_color || 'var(--color-black)';
const contentInverse = branding.content_inverse || 'var(--color-white)';
const contentAlternate = branding.content_alternate || 'var(--color-neutral-dark)';
const contentInverseAlternate = branding.content_inverse_alternate || 'var(--color-neutral-light)';

const colorPrimary = branding.primary_color;
const colorSecondary = branding.secondary_color;
const colorTertiary = branding.tertiary_color || 'var(--color-black)';

//these are for use in layout components like header and footer
const primaryContent = useBlackText(colorPrimary) ? content : contentInverse;
const secondaryContent = !colorSecondary || useBlackText(colorSecondary) ? content : contentInverse;
const tertiaryContent = !colorTertiary || useBlackText(colorTertiary) ? content : contentInverse;

const colorLayout = branding.background_color || 'var(--color-white)';
const layoutContent = !branding.background_color || useBlackText(branding.background_color) ? content : contentInverse;
const layoutContentAlternate = !branding.background_color || useBlackText(branding.background_color) ? contentAlternate : contentInverseAlternate;

const colorLayoutAlternate = branding.background_alternate || 'var(--color-neutral-light)';
const layoutAlternateContent = !branding.background_alternate || useBlackText(branding.background_alternate) ? content : contentInverse;
const layoutAlternateContentAlternate = !branding.background_alternate || useBlackText(branding.background_alternate) ? contentAlternate : contentInverseAlternate; //this naming scheme could be better....

const currentLocale = Astro.currentLocale;
const lang = getLanguageFromUrl(Astro.url.pathname);

const pages = await getPages(currentLocale);

const { footer: includeFooter, fullscreen, name, title, t, tab, transparent } = Astro.props;

const getNavItems = async () => {
  const tinaNavbar = await fetchNavbar(currentLocale);

  if (tinaNavbar) {
    return tinaNavbar.items.map(item => ({
      ...item,
      active: item.href
        ? Astro.url.pathname.includes(item.href)
        : false,
      options: item.options?.map(child => ({
          ...child,
          active: Astro.url.pathname.includes(child.href)
        }))
    }))
  }

  const NavKeys = {
    gallery: 'gallery',
    search: 'search',
    pages: 'pages',
    paths: 'paths',
    posts: 'posts'
  };

  // Build the list of options for the "Explore" dropdown
  const searchOptions = _.map(config.search, (search) => ({
    active: Astro.url.pathname.includes(`/${NavKeys.search}/${search.name}`),
    name: search.name,
    label: t(`index_${search.name}`),
    href: getRelativeLocaleUrl(currentLocale, `/${NavKeys.search}/${search.name}`)
  }));

  // Add the "Saved Searches" option in "server" mode
  if (!STATIC_BUILD) {
    searchOptions.push({
      active: Astro.url.pathname.includes('/sessions/search'),
      name: 'search_session',
      label: t('savedSearches'),
      href: getRelativeLocaleUrl(currentLocale, '/sessions/search')
    });
  }

  const NavConfig = {
    [NavKeys.search]: {
      label: t('explore'),
      options: searchOptions
    },
    [NavKeys.pages]: {
      label: t('pages'),
      options: _.map(pages, (page) => ({
        active: Astro.url.pathname.includes(`/${NavKeys.pages}/${page._sys.filename}`),
        name: page.id,
        label: page.title,
        href: getRelativeLocaleUrl(currentLocale, `/${NavKeys.pages}/${page._sys.filename}`)
      }))
    },
    [NavKeys.paths]: {
      active: tab === NavKeys.paths,
      label: t('paths'),
      href: getRelativeLocaleUrl(currentLocale, NavKeys.paths)
    },
    [NavKeys.posts]: {
      active: tab === NavKeys.posts,
      label: t('posts'),
      href: getRelativeLocaleUrl(currentLocale, NavKeys.posts)
    },
    [NavKeys.gallery]: {
      active: tab === NavKeys.gallery,
      label: t('gallery'),
      href: getRelativeLocaleUrl(currentLocale, NavKeys.gallery)
    }
  };

  const result = [
    NavConfig.search,
    ..._.map(config.content?.collections, (key) => NavConfig[key?.toLowerCase()]),
  ];

  if (!_.isEmpty(NavConfig.pages.options)) {
    result.push(NavConfig.pages);
  }

  if (config.gallery) {
    result.push(NavConfig.gallery);
  }

  return result;
}

const navItems = await getNavItems();
---

<!DOCTYPE html>
<html
  lang={lang}
>
  <head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <title>{title}</title>
    <style
      is:global
      define:vars={{
        customFontHeader: fontHeader,
        customFontBody: fontBody,
        customHeroHeaderSize: heroHeaderSize,
        customBannerHeaderVariant: bannerHeaderVariant,
        customPageHeaderSize: pageHeaderSize,
        customHeaderFontWeight: headerFontWeight,
        customLayout: colorLayout,
        customLayoutAlternate: colorLayoutAlternate,
        customColorPrimary: colorPrimary,
        customColorSecondary: colorSecondary,
        customColorTertiary: colorTertiary,
        customPrimaryContent: primaryContent,
        customSecondaryContent: secondaryContent,
        customTertiaryContent: tertiaryContent,
        customContent: layoutContent,
        customContentAlternate: layoutContentAlternate,
        customAlternateContent: layoutAlternateContent,
        customAlternateContentAlternate: layoutAlternateContentAlternate,
        customText: content,
        customTextInverse: contentInverse
      }}
    >
    </style>
  </head>
  <body
    class='flex h-full sm:min-h-screen flex-col bg-layout text-neutral-dark mx-auto font-sans'
    transition:animate='initial'
  >
    <Header
      currentTab={tab}
      fullscreen={fullscreen}
      image={header?.logo}
      imageAlt={branding.title}
      items={navItems}
      pages={pages}
      title={header?.hide_title ? undefined : branding.title}
      transparent={transparent}
    />
    <NotificationPanel
      client:only='react'
    />
    <main
      class='w-full relative flex flex-col grow'
    >
      <slot />
    </main>
    { includeFooter && (
      <Footer
        accessibilityUrl={footer?.accessibility_url}
        items={navItems}
        login={footer?.allow_login && !STATIC_BUILD}
        logos={footer?.logos}
        privacyUrl={footer?.privacy_url}
        t={t}
        termsUrl={footer?.terms_url}
        title={branding?.title}
      />
    )}
  </body>
</html>