---
import { TinaMarkdown } from 'tinacms/dist/rich-text';
import clsx from 'clsx';
import Container from '@components/Container.astro';

const { background, clip, color, content, fullWidth, image } = Astro.props;
---

<div
  class={clsx(
    'w-full relative flex items-center justify-center',
    { 'overflow-hidden': clip },
    { 'bg-primary': background === 'primary' },
    { 'bg-secondary': background === 'secondary' },
    { 'bg-white': background === 'white' },
    { 'bg-black': background === 'black' }
  )}
>
  {
    clip || !image ? (
      <>
        { image && fullWidth && <img src={image} class='absolute inset-0 w-full object-cover' /> }       
        <Container className={clsx(
            'flex justify-center items-center text-center w-full overflow-hidden',
            { 'relative': !fullWidth }
          )}
        >
          { image && !fullWidth && <img src={image} class='absolute inset-0 w-full object-cover' /> }
          <div class={clsx(
            'prose max-w-none py-8 lg:py-16 text-center z-10',
            { '!text-white': color === 'white' },
            { '!text-black': !color || color === 'black'}
          )}>
            <TinaMarkdown
              content={content}
              />
          </div>
        </Container>
      </>
    ) : (
      <>
        {
          fullWidth ? (
            <>
              <img src={image} class='w-full h-full object-cover' />
              <div class='absolute inset-0 w-full h-full flex items-center justify-center'>
                <Container className={clsx(
                    'flex justify-center items-center text-center w-full'
                  )}
                >
                  <div class={clsx(
                    'prose max-w-none py-8 lg:py-16 text-center z-10',
                    { '!text-white': color === 'white' },
                    { '!text-black': !color || color === 'black'}
                  )}>
                    <TinaMarkdown
                      content={content}
                      />
                  </div>
                </Container>                  
              </div>  
            </>
          ) : (
            <Container className={clsx(
                'relative flex justify-center items-center text-center w-full'
              )}
            >
              <img src={image} class='w-full h-full object-cover' />
              <div class='absolute inset-0 w-full h-full flex items-center justify-center'>
                <div class={clsx(
                  'prose max-w-none py-8 lg:py-16 text-center z-10',
                  { '!text-white': color === 'white' },
                  { '!text-black': !color || color === 'black'}
                )}>
                  <TinaMarkdown
                    content={content}
                    />
                </div>
              </div>
            </Container>
          )
        }
        <div class='absolute inset-0 h-full w-full flex items-center justify-center z-10 min-h-max'>
        </div>
      </>
    )
  }
</div>