---
import { getTranslations } from '@backend/i18n';
import Card from '@components/Card.astro';
import RichText from '@apps/pages/sections/RichText.astro';
import Spacer from './Spacer.astro';
import clsx from 'clsx';
import { toTextClass, toBorderClass } from '@root/src/utils/pageBuilder';

const { item } = Astro.props;

const { t } = await getTranslations(Astro.currentLocale);

const BlockTypes = {
  basic: 'Basic',
  card: 'Card',
  counter: 'Counter',
  image: 'Image',
  imageLink: 'Image_link',
  quote: 'Quote',
  text: 'Richtext'
}

---
{ item.__typename.endsWith(BlockTypes.image) && ( 
  <img src={item.image} class={clsx(
    'w-full object-cover',
    { 'rounded-md': item.rounded }
  )} />
)}

{ item.__typename.endsWith(BlockTypes.text) && ( 
  <div class={clsx(
    'prose max-w-none px-6 py-4 text-inherit',
    item.size
  )}>
    <RichText content={item.text} />
  </div>
)}

{ !item.__typename || item.__typename.endsWith(BlockTypes.basic) && ( 
  <div
    class='flex flex-col w-full'
  >
    <h4
      class='text-3xl font-bold'
    >
      { item?.title }
    </h4>
    <p
      class='font-light'
    >
      { item?.description }
    </p>
  </div>
)}

{ item.__typename.endsWith(BlockTypes.card) && ( 
  <Card
    alt={item.alt}
    author={item.author}
    blur={item.blurb}
    category={item.category}
    date={item.date}
    imageUrl={item.image}
    slug={item.slug}
    t={t}
    title={item.title}
  />
)}

{ item.__typename.endsWith(BlockTypes.quote) && ( 
  <div class={clsx(
    'flex flex-col relative h-full p-6 gap-6',
    item.text_color,
    toBorderClass(item.border_color)
  )}>
    <img src={item.icon} class='absolute top-4 left-4 w-12 h-12 opacity-20' />
    <p class='font-serif'>
      { item.quote }
    </p>
    <Spacer size='none' color={item.border_color} />
    <p class='font-semibold -indent-2 pl-2'>
      { item.attribution }
    </p>
  </div>
)}

{ item.__typename.endsWith(BlockTypes.imageLink) && ( 
  <a href={item.link} class='relative'>
    <img src={item.image} class='w-full h-full object-contain'/>
    { item.overlay && ( 
      <div class='absolute h-full w-full inset-0 bg-gradient-to-b to-black/60 p-6 flex flex-col justify-end'>
        <h3 class='!text-text-inverse font-serif'>{ item.overlay }</h3>
      </div> 
    )}
  </a>
)}

{ item.__typename.endsWith(BlockTypes.counter) && ( 
  <div class='flex flex-col p-4 gap-3 font-serif font-semibold bg-layout-alt items-center h-full'>
    <div class='flex flex-col'>
      <p class='text-secondary text-5xl'>{ item.count }</p>
      <p class='italic'>{ item.type || 'records' }</p>
    </div>
    <div>{ item.description }</div>
  </div>
)}