---
import ImageWithCitation from '@components/ImageWithCitation.astro';
import _ from 'underscore';

const { items, title } = Astro.props;
---

<div
  class='flex flex-col items-center'
>
  { title && (
    <h2
      class='text-4xl font-bold uppercase py-8'
    >
      { title }
    </h2>
  )}
  <div
    class='flex justify-around w-full flex-wrap px-8'
  >
    { _.map(items, (item) => (
      <a
        class='flex justify-center py-8 w-full max-h-[400px] lg:w-[375px] lg:max-h-[400px]'
        href={item.url}
      >
        <ImageWithCitation
          alt={item.image_alt}
          classNames={{ root: 'w-full h-full', image: 'w-full h-full object-cover', citation: `text-xs text-gray-400${item.citationLink ? ' underline' : ''}` }}
          src={item.image}
          citation={item.citation}
          citationLink={item.citation_link}
        />
      </a>
    ))}
  </div>
</div>