---
import Container from '@components/Container.astro';
import MultiColumn from '@apps/pages/sections/MultiColumn.astro';
import clsx from 'clsx';
import { toBackgroundClass } from '@root/src/utils/pageBuilder';

const { 
  background,
  backgroundImage,
  buttonText,
  content, 
  darken,
  gap,   
  textAlignment,
  title,
  url
} = Astro.props;

---
<div class={clsx(
  'w-full relative flex',
  toBackgroundClass(background)
)}>
  { backgroundImage && (
    <img 
      src={backgroundImage} 
      class='w-full h-full object-cover absolute inset-0'
    /> 
  ) }
  { darken && (
    <div
      class='absolute top-0 left-0 w-full h-full bg-tertiary mix-blend-multiply'
    /> 
  ) }
  <Container>
    <MultiColumn
      buttonText={buttonText}
      textAlignment={textAlignment}
      title={title}
      url={url}
      content={content}
      gap={gap}
    />
  </Container>
</div>