---
import _ from 'underscore';
import TabsComponent from './Tabs';
import PageBody from '@components/PageBody.astro';

const {
  tabs,
  raise,
  activeBg,
  textStyle,
  invertText,
  inactiveBg
} = Astro.props;
---

<TabsComponent tabs={tabs} raise={raise} activeBg={activeBg} textStyle={textStyle} invertText={invertText} inactiveBg={inactiveBg} client:only='react'>
  {
    _.map(tabs, (tab) => (
      <div class='tab-content py-6 flex flex-col' id={`${tab.label}--content`}>
        <PageBody sections={tab.content} />
      </div>
    ))
  }
</TabsComponent>
