---
import _ from 'underscore';
import MultiColumn from './MultiColumn.astro';
import TabsComponent from './Tabs';

const {
  tabs
} = Astro.props;
---

<TabsComponent tabs={tabs} client:only='react'>
  {
    _.map(tabs, (tab) => (
      <div class='tab-content py-6 flex flex-col' id={`${tab.label}--content`}>
        {
          _.map(tab.content, (section) => ( 
            <MultiColumn
              textAlignment={section.text_alignment}
              content={section.columns}
              gap={section.gap}
            />
          ))
        }
      </div>
    ))
  }
</TabsComponent>
